<strong>Olá, {{organizer}}</strong>
<p>Parabéns! Sua Meetup <strong>{{meetup}}</strong> acaba de receber uma inscrição, confira os detalhes abaixo:</p>
<p>
  <strong>Participante: </strong> {{participant}} <br/>
  <strong>Email: </strong> {{email}} <br/>
  <strong>Local: </strong> {{location}} <br/>
  <strong>Data/hora: </strong> {{date}} <br/>
  <br />
  <strong>
    Estamos torcendo por você!
  </strong>
</p>